.search{
  height: 140px;
  background-color: #fff;
  padding-top: 10px;
  box-sizing: border-box;
   .search_logo{
    position: absolute;
    left: 0;
    top: 10px;
    width: 190px;
    height: 120px;
    background-color: #fff;
     img{
        width: 134px;
        height: 44px;
    }
   }
   .search_catch{
    float: right;
    border: 2px solid #c91623;
    background: #c91623;
    height: 24px;
    margin-top: 30px;
    overflow: hidden;
     >input:nth-child(1){
      border: 0;
      height: 18px;
      line-height: 18px;
      width: 260px;
      padding: 3px 5px;
      outline: none;
     }
     >input:nth-child(2){
      vertical-align: top;
      width: 48px;
      height: 24px;
      background: #c91623;
      text-align: center;
      color: #fff;
      font-weight: 700;
      border: none;
      outline: none;
      cursor: pointer;
     }
   }
}
.goods{
  .goods_filt{
   margin-top: 10px;
   width: 100%;
   height: 40px;
    >a{
     text-decoration: none;
     color: #666;
      >span:nth-child(1){
       color: #e2231a;
       font-weight: 700;
      }
      >span:nth-child(2){
       color: #e2231a;
       font-size: 14px;
       margin-left: 5px;
       font-weight: 700;
      }
    }
  }
  .goods_thead{
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
    position: relative;
     >.cloumn{
      float: left;
      color: #434343;
      font-size: 12px;
     }
     >.checkbox{
      height: 18px;
      line-height: 18px;
      padding-top: 7px;
      width: 122px;
      padding-left: 11px;
     }
     >.thead1{
      width: 208px;
     }
     >.thead2{
      width: 250px;
      height: 32px;
      padding: 0 10px 0 20px;
     }
     .thead3{
      width: 120px;
      padding-right: 50px;
      text-align: right;
     }
     .thead4{
      width: 100px;
      text-align: center;
     }
     .thead5{
      width: 120px;
      padding-right: 40px;
      text-align: right;
     }
     .thead6{
      width: 100px;
     }
  }
  .goods_tbody{
    margin-bottom: 20px;
    height: 152px;
     >.goods_shop{
      height: 30px;
      line-height: 30px;
      padding-left: 11px;
       >.goods_checkbox{
        float: left;
        margin-right: 15px;
       }
       >.shop_text{
        float: left;
        width: 42%;
          >a{
            max-width: 260px;
            height: 30px;
            line-height: 30px;
            font-weight: 700;
            text-decoration: none;
            color: #666;
            display: inline-block;
            font-size: 12px;
          }
          >i{
            cursor: pointer;
            width: 16px;
            height: 16px;
            display: inline-block;
            background: url(../../img/jd_shopping7.png) no-repeat;
          }
       }
     }
     >.goods_item{
      border: 1px solid #f1f1f1;
      border-top: 2px solid #aaa;
      background: #fff;
      height: 119px;
       >.item_list{
        position: relative;
        border-top: 1px solid #c5c5c5;
        line-height: 20px;
        background: #fff;
        padding: 0 0 1px 40px;
        clear: both;
         >.item_form{
           >.p-checkbox{
            width: 30px;
            min-height: 10px;
            margin-left: 10px;
            position: absolute;
            left: 0;
            top: 0;
              >div{
                float: left;
                margin-right: 5px;
              }
           }
           >.cell{
            float: left;
            padding: 15px 0 10px;
           }
           >.p-goods{
            width: 300px;
            >.p-goods-ite{
              height: 60px;
               >.p-img{
                position: relative;
                float: left;
                width: 80px;
                height: 80px;
                border: 1px solid #eee;
                margin-right: 10px;
                background: #fff;
                padding: 0;
                text-align: center;
                overflow: visible;
                 img{
                  width: 80px;
                  height: 80px;
                 }
               }
               >.p-msg{
                 >.p-name{
                  height: 40px;
                  line-height: 20px;
                   >a{
                    text-decoration: none;
                    font-size: 12px;
                    color: #333;
                   }
                   a:hover{
                    color: #e2231a;
                   }
                 }
                 >.p-extend{
                   >img{
                   transform: translate(53px, 38px);
                   }
                 }
               }
            }
           }
           >.p-props{
            width: 130px;
            min-height: 10px;
            line-height: 20px;
            overflow: hidden;
            padding: 15px 0 0 20px;
              >.props_txt{
                width: 130px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
                font-size: 12px;
                color: #434343;
              }
           }
           >.p-price{
            position: relative;
            width: 150px;
            padding-right: 40px;
            text-align: right;
            outline: none;
            transform: translate(110px,0px);
              >span{
                font-size: 12px;
                color: #434343;
              }
           }
           >.p-quantity{
            width: 84px;
            transform: translate(140px,-20px);
              >.cart_number{
                width: 80px;
                border: 0;
                 >button{
                  border-width: 1px;
                  background: #f1f1f1;
                  width: 17px;
                  height: 20px;
                  line-height: 16px;
                  // vertical-align: middle;
                  border: 1px solid #cbcbcb;
                  cursor: pointer;
                 }
                 >.cart_input{
                   input{
                    position: static;
                    float: left;
                    outline: 0;
                    text-align: center;
                    box-sizing: border-box;
                    height: 20px;
                    color: #232326;
                    border: 1px solid #cbcbcb;
                    background: #fff;
                    line-height: 18px;
                    vertical-align: middle;
                    padding: 0;
                    border-width: 1px 0;
                    width: 46px;
                   }
                 }
                 >.cart_dec{
                  transform: translate(-16px, 20px);
                 }
                 >.cart_int{
                  transform: translate(0px,-2px);
                 }
              }
           }
           >.p-sum{
            width: 100px;
            padding-right: 40px;
            text-align: right;
            font-family: verdana;
            font-size: 12px;
            font-weight: 700;
            transform: translate(162px,0px);
           }
           >.p-ops{
            width: 75px;
            transform: translate(150px,0px);
             >a{
              text-decoration: none;
              font-size: 12px;
              color: #666;
              display: block;
             }
             a:hover{
              color: #e2231a;
             }
           }
         }
       }
     }
  }
  .goods_money{
    height: 50px;
    border: 1px solid #e9e9e9;
    position: relative;
     >.money_left{
      height: 50px;
      width: 363px;
       >.money_check{
        float: left;
        height: 50px;
        line-height: 50px;
        padding: 0 0 0 9px;
        font-size: 12px;
        color: #434343;
       }
       >.money_selec{
        float: left;
        height: 50px;
        line-height: 50px;
         >a{
          text-decoration: none;
          font-size: 12px;
          color: #434343;
          float: left;
          margin-left: 10px;
          color: #666;
         }
         >a:hover{
          color: #c91623;
         }
       }
     }
     >.money_right{
      position: absolute;
      height: 52px;
      right: 0px;
      top: -1px;
      width: 670px;
      max-width: 670px;
       >.money_sum{
        float: right;
        height: 50px;
        width: auto;
        margin: 7px 20px 0 10px;
         >.money_price{
          float: right;
           >span:nth-child(1){
            width: 50px;
            text-align: right;
            color: #999;
            display: inline-block;
            font-size: 12px;
           }
           >span:nth-child(2){
            font-size: 16px;
            color: #e2231a;
            font-family: verdana;
            font-weight: 700;
           }
           >b{
            vertical-align: text-bottom;
            display: inline-block;
            height: 18px;
            width: 12px;
            background: url(../../img/jd_shopping2.png) no-repeat;
           }
         }
         >.money_amount{
          float: right;
          color: #999;
          line-height: 20px;
          cursor: pointer;
          font-size: 12px;
          color: #999;
           >em{
            color: #e2231a;
            font-weight: 700;
            font-family: verdana;
            margin: 0 3px;
           }
           >b{
            display: inline-block;
            width: 9px;
            height: 5px;
            margin: -5px 0 0 5px;
            transition: all .2s ease-in 0s;
            background: url(../../img/jd_shopping3.png) no-repeat -45px -91px;
           }
           >b:hover{
            background-position: -45px -95px;;
           }
         }
       }
       >.money_area{
        float: right;
        height: 50px;
         >a{
          text-decoration: none;
          display: block;
          width: 94px;
          height: 52px;
          line-height: 52px;
          color: #fff;
          text-align: center;
          font-size: 18px;
          font-family: Microsoft YaHei;
          background: #e54346;
          cursor: pointer;
         }
       }
     }
  }
}
.other{
  padding: 20px 0px 28px 0px;
  box-sizing: border-box;
  height: 444px;
   >h3{
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #434343;
     >b{
      width: 13px;
      height: 0;
      border: 1px solid #f1f1f1;
      position: absolute;
      top: 7px;
     }
     >i{
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url(../../img/jd_shopping3.png) -62px -198px no-repeat;
     }
     >.hl{
     left: 500px;
     }
     >.hr{
      right: 500px;
     }
   }
   >p{
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
    color: #434343;
   }
   >.other_cont{
    height: 357px;
    border: 1px solid #e5e5e5;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #ccc;
    margin-top: 15px;
     >div:nth-child(1){
      padding: 15px 20px;
      height: 50px;
      background-color: #fafafa;
       >a>img{
        width: 48px;
        height: 48px;
       }
       >img{
        transform: translate(0px,0px);
       }
     }
     >div:nth-child(2){
       img{
        transform: translate(110px,10px);
      }
     }
   }
}