@charset "UTF-8";
.head {
  height: 30px;
  background-color: #e3e4e5;
}

.head .head_flow1 {
  float: left;
  list-style: none;
}

.head .head_flow1 > li {
  position: relative;
  box-sizing: border-box;
}

.head .head_flow1 > li > a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
  height: 28px;
  line-height: 28px;
  padding: 0px 7px;
}

.head .head_flow1 > li > a > .icon-31dingwei {
  font-size: 14px;
  color: #f10215;
  margin-right: 4px;
}

.head .head_flow1 > li > div {
  position: absolute;
  width: 300px;
  height: 460px;
  padding-top: 130px;
  box-sizing: border-box;
  top: 30px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 1px #e3e4e5;
  z-index: 2;
  text-align: center;
  display: none;
}

.head .head_flow1 > li:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow1 > li:hover div {
  display: block;
}

.head .head_flow2 {
  list-style: none;
  float: right;
}

.head .head_flow2 .head_logreg {
  margin-right: 8px;
}

.head .head_flow2 > li {
  float: left;
  position: relative;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}

.head .head_flow2 > li a {
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.head .head_flow2 > li .stylred {
  color: #f10215;
}

.head .head_flow2 > li > div {
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
}

.head .head_flow2 > li > div > .icon-xiajiantou {
  font-size: 12px;
  position: absolute;
  right: 3px;
  top: 12px;
  line-height: 12px;
}

.head .head_flow2 > li > .throw {
  padding-right: 20px;
}

.head .head_flow2 > li .contblock {
  position: absolute;
  padding-top: 30px;
  box-sizing: border-box;
  top: 30px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 1px #e3e4e5;
  z-index: 2;
  text-align: center;
  display: none;
}

.head .head_flow2 > li .cont_1 {
  width: 277px;
  height: 162px;
}

.head .head_flow2 > li .cont_2 {
  width: 153px;
  height: 144px;
}

.head .head_flow2 > li .cont_3 {
  width: 169px;
  height: 269px;
  left: -93px;
}

.head .head_flow2 > li .cont_4 {
  width: 1198px;
  height: 180px;
  left: -1050px;
}

.head .head_flow2 > li .cont_4 > img {
  margin-right: 140px;
  transform: translateY(-15px);
}

.head .head_flow2 > .bl1:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl1:hover .cont_1 {
  display: block;
}

.head .head_flow2 > .bl2:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl2:hover .cont_2 {
  display: block;
}

.head .head_flow2 > .bl3:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl3:hover .cont_3 {
  display: block;
}

.head .head_flow2 > .bl4:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl4:hover .cont_4 {
  display: block;
}

.head .head_flow2 > .spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.head li:hover a {
  color: #f10215;
}

.search {
  height: 140px;
  background-color: #fff;
  padding-top: 10px;
  box-sizing: border-box;
}

.search .search_logo {
  position: absolute;
  left: 0;
  top: 10px;
  width: 190px;
  height: 120px;
  background-color: #fff;
}

.search .search_logo img {
  width: 134px;
  height: 44px;
}

.search .search_catch {
  float: right;
  border: 2px solid #c91623;
  background: #c91623;
  height: 24px;
  margin-top: 30px;
  overflow: hidden;
}

.search .search_catch > input:nth-child(1) {
  border: 0;
  height: 18px;
  line-height: 18px;
  width: 260px;
  padding: 3px 5px;
  outline: none;
}

.search .search_catch > input:nth-child(2) {
  vertical-align: top;
  width: 48px;
  height: 24px;
  background: #c91623;
  text-align: center;
  color: #fff;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.goods .goods_filt {
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

.goods .goods_filt > a {
  text-decoration: none;
  color: #666;
}

.goods .goods_filt > a > span:nth-child(1) {
  color: #e2231a;
  font-weight: 700;
}

.goods .goods_filt > a > span:nth-child(2) {
  color: #e2231a;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 700;
}

.goods .goods_thead {
  height: 32px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
  position: relative;
}

.goods .goods_thead > .cloumn {
  float: left;
  color: #434343;
  font-size: 12px;
}

.goods .goods_thead > .checkbox {
  height: 18px;
  line-height: 18px;
  padding-top: 7px;
  width: 122px;
  padding-left: 11px;
}

.goods .goods_thead > .thead1 {
  width: 208px;
}

.goods .goods_thead > .thead2 {
  width: 250px;
  height: 32px;
  padding: 0 10px 0 20px;
}

.goods .goods_thead .thead3 {
  width: 120px;
  padding-right: 50px;
  text-align: right;
}

.goods .goods_thead .thead4 {
  width: 100px;
  text-align: center;
}

.goods .goods_thead .thead5 {
  width: 120px;
  padding-right: 40px;
  text-align: right;
}

.goods .goods_thead .thead6 {
  width: 100px;
}

.goods .goods_tbody {
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  border-top: 3px solid #ccc;
  height: 189px;
}

.goods .goods_money {
  height: 50px;
  border: 1px solid #e9e9e9;
  position: relative;
}

.goods .goods_money > .money_left {
  height: 50px;
  width: 363px;
}

.goods .goods_money > .money_left > .money_check {
  float: left;
  height: 50px;
  line-height: 50px;
  padding: 0 0 0 9px;
  font-size: 12px;
  color: #434343;
}

.goods .goods_money > .money_left > .money_selec {
  float: left;
  height: 50px;
  line-height: 50px;
}

.goods .goods_money > .money_left > .money_selec > a {
  text-decoration: none;
  font-size: 12px;
  color: #434343;
  float: left;
  margin-left: 10px;
  color: #666;
}

.goods .goods_money > .money_left > .money_selec > a:hover {
  color: #c91623;
}

.goods .goods_money > .money_right {
  position: absolute;
  height: 52px;
  right: 0px;
  top: -1px;
  width: 670px;
  max-width: 670px;
}

.goods .goods_money > .money_right > .money_sum {
  float: right;
  height: 50px;
  width: auto;
  margin: 7px 20px 0 10px;
}

.goods .goods_money > .money_right > .money_sum > .money_price {
  float: right;
}

.goods .goods_money > .money_right > .money_sum > .money_price > span:nth-child(1) {
  width: 50px;
  text-align: right;
  color: #999;
  display: inline-block;
  font-size: 12px;
}

.goods .goods_money > .money_right > .money_sum > .money_price > span:nth-child(2) {
  font-size: 16px;
  color: #e2231a;
  font-family: verdana;
  font-weight: 700;
}

.goods .goods_money > .money_right > .money_sum > .money_price > b {
  vertical-align: text-bottom;
  display: inline-block;
  height: 18px;
  width: 12px;
  background: url(../../img/jd_shopping2.png) no-repeat;
}

.goods .goods_money > .money_right > .money_sum > .money_amount {
  float: right;
  color: #999;
  line-height: 20px;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.goods .goods_money > .money_right > .money_sum > .money_amount > em {
  color: #e2231a;
  font-weight: 700;
  font-family: verdana;
  margin: 0 3px;
}

.goods .goods_money > .money_right > .money_sum > .money_amount > b {
  display: inline-block;
  width: 9px;
  height: 5px;
  margin: -5px 0 0 5px;
  transition: all .2s ease-in 0s;
  background: url(../../img/jd_shopping3.png) no-repeat -45px -91px;
}

.goods .goods_money > .money_right > .money_sum > .money_amount > b:hover {
  background-position: -45px -95px;
}

.goods .goods_money > .money_right > .money_area {
  float: right;
  height: 50px;
}

.goods .goods_money > .money_right > .money_area > a {
  text-decoration: none;
  display: block;
  width: 94px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Microsoft YaHei;
  background: #e54346;
  cursor: pointer;
}

.other {
  padding: 20px 0px 28px 0px;
  box-sizing: border-box;
  height: 444px;
}

.other > h3 {
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #434343;
}

.other > h3 > b {
  width: 13px;
  height: 0;
  border: 1px solid #f1f1f1;
  position: absolute;
  top: 7px;
}

.other > h3 > i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../img/jd_shopping3.png) -62px -198px no-repeat;
}

.other > h3 > .hl {
  left: 500px;
}

.other > h3 > .hr {
  right: 500px;
}

.other > p {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  color: #434343;
}

.other > .other_cont {
  height: 357px;
  border: 1px solid #e5e5e5;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #ccc;
  margin-top: 15px;
}

.other > .other_cont > div:nth-child(1) {
  padding: 15px 20px;
  height: 50px;
  background-color: #fafafa;
}

.other > .other_cont > div:nth-child(1) > a > img {
  width: 48px;
  height: 48px;
}

.other > .other_cont > div:nth-child(1) > img {
  transform: translate(0px, 0px);
}

.other > .other_cont > div:nth-child(2) img {
  transform: translate(110px, 10px);
}

.footer {
  background-color: #eaeaea;
}

.footer .advers {
  height: 102px;
}

.footer .advers .adver_list {
  list-style: none;
}

.footer .advers .adver_list > li {
  width: 297px;
  height: 42px;
  float: left;
  margin: 35px 0px;
}

.footer .advers .adver_list > li > .adver_na {
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  padding-left: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.footer .advers .adver_list > li > .adver_na > i {
  display: inline-block;
  width: 36px;
  height: 42px;
  position: absolute;
  top: 0px;
  left: 35px;
}

.footer .advers .adver_list > li > .adver_na .adver_picture1 {
  background: url(../../img/jd_recom_4.gif) no-repeat;
}

.footer .advers .adver_list > li > .adver_na .adver_picture2 {
  background: url(../../img/jd_recom_1.png) no-repeat;
}

.footer .advers .adver_list > li > .adver_na .adver_picture3 {
  background: url(../../img/jd_recom_2.gif) no-repeat;
}

.footer .advers .adver_list > li > .adver_na .adver_picture4 {
  background: url(../../img/jd_recom_3.gif) no-repeat;
}

.footer .jd_help {
  height: 200px;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  padding: 20px 0px;
}

.footer .jd_help .help_twitter {
  width: 200px;
  height: 159px;
  box-sizing: border-box;
  float: left;
}

.footer .jd_help .help_twitter .twitter_list {
  list-style: none;
}

.footer .jd_help .help_twitter .twitter_list > li > a {
  font-size: 12px;
  text-decoration: none;
  color: #666;
}

.footer .jd_help .help_twitter .twitter_list > li > a:hover {
  color: #c81623;
}

.footer .jd_help .help_twitter .twitter_tit {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.footer .jd_help .help_twitter_special .discribe {
  font-size: 12px;
  color: #666;
}

.footer .jd_help .help_twitter_special .check {
  text-align: right;
}

.footer .jd_help .help_twitter_special .check > a {
  text-decoration: none;
  font-size: 12px;
  color: #666;
}

.footer .jd_help .help_twitter_special .check > a:hover {
  color: #c81623;
}

.footer .jd_copy {
  height: 265px;
  box-sizing: border-box;
  border-top: 1px solid #dedede;
  padding: 15px 0px;
}

.footer .jd_copy .copy_help {
  height: 18px;
  text-align: center;
}

.footer .jd_copy .copy_help > a {
  color: #666;
  text-decoration: none;
  font-size: 12px;
}

.footer .jd_copy .copy_help a:hover {
  color: #c81623;
}

.footer .jd_copy .copy_ver {
  height: 110px;
  margin: 10px 0px;
  box-sizing: border-box;
  text-align: center;
}

.footer .jd_copy .copy_ver > p {
  height: 22px;
}

.footer .jd_copy .copy_ver .ver_na {
  color: #999;
  font-size: 12px;
  text-decoration: none;
  line-height: 12px;
}

.footer .jd_copy .copy_ver .ver_na > i {
  display: inline-block;
  width: 15px;
  height: 12px;
  margin-right: 10px;
}

.footer .jd_copy .copy_ver .ver_na:hover {
  color: #c81623;
}

.footer .jd_copy .copy_ver .ver_na_i1 {
  background: url(../../img/jd_footer_copy_10.png) no-repeat;
}

.footer .jd_copy .copy_ver .ver_na_i2 {
  background: url(../../img/jd_footer_copy_13.png) no-repeat;
}

.footer .jd_copy .copy_ver .ver_na_i3 {
  background: url(../../img/jd_footer_copy_12.png) no-repeat;
}

.footer .jd_copy .copy_ver .ver_na_i4 {
  background: url(../../img/jd_footer_copy_11.png) no-repeat;
}

.footer .jd_copy .copy_ver .ver_na_i5 {
  background: url(../../img/jd_footer_copy_09.png) no-repeat;
}

.footer .jd_copy .ver_split {
  margin: 0 7px;
  color: #ccc;
}

.footer .jd_copy .copy_other {
  height: 36px;
  margin-top: 30px;
  text-align: center;
}

.footer .jd_copy .copy_other > a {
  display: inline-block;
  margin: 0 3px;
  width: 100px;
  height: 32px;
}

.footer .jd_copy .copy_other .copy_other_ico1 {
  background: url(../../img/jd_footer_copy_04.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico2 {
  background: url(../../img/jd_footer_copy_03.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico3 {
  background: url(../../img/jd_footer_copy_02.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico4 {
  background: url(../../img/jd_footer_copy_01.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico5 {
  background: url(../../img/jd_footer_copy_06.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico6 {
  background: url(../../img/jd_footer_copy_05.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico7 {
  background: url(../../img/jd_footer_copy_07.png) no-repeat;
}

.footer .jd_copy .copy_other .copy_other_ico8 {
  background: url(../../img/jd_footer_copy_08.png) no-repeat;
}

/* 重置样式表 */
/* 清除内外间距 */
* {
  margin: 0;
  padding: 0;
}

/* 去掉b strong加粗 */
b, strong {
  font-weight: normal;
}

/* 去掉i em倾斜 */
i, em {
  font-style: none;
}

/* 去掉li的项目符号 */
li {
  list-style: none;
}

/* 去掉a u s del的修饰线 
a,u,s,del{
text-decoration: none;
}
/* 万能清除法 */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

/* 版心 */
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
