.footer{
  background-color: #f4f4f4;
  .jd_help{
    height: 200px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    padding: 20px 0px;
    .help_twitter{
      width: 200px;
      height: 159px;
      box-sizing: border-box;
      float: left;
      .twitter_list{
        list-style: none;
        >li>a{
          font-size: 12px;
          text-decoration: none;
          color: #666;
        }
        >li>a:hover{
          color: #c81623;
        }
      }
      .twitter_tit{
        font-size: 14px;
        color: #666;
        margin-bottom: 5px;
      }
    }
    .help_twitter_special{
      .discribe{
       font-size: 12px;
       color: #666;
      }
      .check{
        text-align: right;
        >a{
          text-decoration: none;
          font-size: 12px;
          color: #666;
        }
        >a:hover{
          color: #c81623;
        }
      }
    }
  }
  .jd_copy{
    height: 265px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    padding: 15px 0px;
    .copy_help{
      height: 18px;
      text-align: center;
      >a{
        color: #666;
        text-decoration: none;
        font-size: 12px;
      }
      a:hover{
        color: #c81623;
      }
    }
    .copy_ver{
      height: 110px;
      margin: 10px 0px;
      box-sizing: border-box;
      text-align: center;
      >p{
        height: 22px;
      }
      .ver_na{
        color: #999;
        font-size: 12px;
        text-decoration: none;
        line-height: 12px;
        >i{
          display: inline-block;
          width: 15px;
          height: 12px;
          margin-right: 10px;
        }
      }
      .ver_na:hover{
        color: #c81623;
      }
      .ver_na_i1{
        background: url(../img/jd_footer_copy_10.png) no-repeat;
      }
      .ver_na_i2{
        background: url(../img/jd_footer_copy_13.png) no-repeat;
      }
      .ver_na_i3{
        background: url(../img/jd_footer_copy_12.png) no-repeat;
      }
      .ver_na_i4{
        background: url(../img/jd_footer_copy_11.png) no-repeat;
      }
      .ver_na_i5{
        background: url(../img/jd_footer_copy_09.png) no-repeat;
      }
    }
    .ver_split{
      margin: 0 7px;
      color: #ccc;
    }
    .copy_other{
      height: 36px;
      margin-top: 30px;
      text-align: center;
      >a{
        display: inline-block;
        margin: 0 3px;
        width: 100px;
        height: 32px;
      }
      .copy_other_ico1{
        background: url(../img/jd_footer_copy_04.png) no-repeat;
      }
      .copy_other_ico2{
        background: url(../img/jd_footer_copy_03.png) no-repeat;
      }
      .copy_other_ico3{
        background: url(../img/jd_footer_copy_02.png) no-repeat;
      }
      .copy_other_ico4{
        background: url(../img/jd_footer_copy_01.png) no-repeat;
      }
      .copy_other_ico5{
        background: url(../img/jd_footer_copy_06.png) no-repeat;
      }
      .copy_other_ico6{
        background: url(../img/jd_footer_copy_05.png) no-repeat;
      }
      .copy_other_ico7{
        background: url(../img/jd_footer_copy_07.png) no-repeat;
      }
      .copy_other_ico8{
        background: url(../img/jd_footer_copy_08.png) no-repeat;
      }
    }
  }
}