.head {
  height: 30px;
  background-color: #e3e4e5;
}

.head .head_flow1 {
  float: left;
  list-style: none;
}

.head .head_flow1 > li {
  position: relative;
  box-sizing: border-box;
}

.head .head_flow1 > li > a {
  font-size: 12px;
  text-decoration: none;
  color: #999;
  height: 28px;
  line-height: 28px;
  padding: 0px 7px;
}

.head .head_flow1 > li > a > .icon-31dingwei {
  font-size: 14px;
  color: #f10215;
  margin-right: 4px;
}

.head .head_flow1 > li > div {
  position: absolute;
  width: 300px;
  height: 460px;
  padding-top: 130px;
  box-sizing: border-box;
  top: 30px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 1px #e3e4e5;
  z-index: 3;
  text-align: center;
  display: none;
}

.head .head_flow1 > li:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow1 > li:hover div {
  display: block;
}

.head .head_flow2 {
  list-style: none;
  float: right;
}

.head .head_flow2 .head_logreg {
  margin-right: 8px;
}

.head .head_flow2 > li {
  float: left;
  position: relative;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
}

.head .head_flow2 > li a {
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.head .head_flow2 > li .stylred {
  color: #f10215;
}

.head .head_flow2 > li > div {
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
}

.head .head_flow2 > li > div > .icon-xiajiantou {
  font-size: 12px;
  position: absolute;
  right: 3px;
  top: 12px;
  line-height: 12px;
}

.head .head_flow2 > li > .throw {
  padding-right: 20px;
}

.head .head_flow2 > li .contblock {
  position: absolute;
  padding-top: 30px;
  box-sizing: border-box;
  top: 30px;
  left: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 1px 2px 1px #e3e4e5;
  z-index: 2;
  text-align: center;
  display: none;
}

.head .head_flow2 > li .cont_1 {
  width: 277px;
  height: 162px;
}

.head .head_flow2 > li .cont_2 {
  width: 153px;
  height: 144px;
}

.head .head_flow2 > li .cont_3 {
  width: 169px;
  height: 269px;
  left: -93px;
}

.head .head_flow2 > li .cont_4 {
  width: 1198px;
  height: 180px;
  left: -1050px;
}

.head .head_flow2 > li .cont_4 > img {
  margin-right: 140px;
  transform: translateY(-15px);
}

.head .head_flow2 > .bl1:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl1:hover .cont_1 {
  display: block;
}

.head .head_flow2 > .bl2:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl2:hover .cont_2 {
  display: block;
}

.head .head_flow2 > .bl3:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl3:hover .cont_3 {
  display: block;
}

.head .head_flow2 > .bl4:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  background-color: #fff;
}

.head .head_flow2 > .bl4:hover .cont_4 {
  display: block;
}

.head .head_flow2 > .spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc;
}

.head li:hover a {
  color: #f10215;
}
