.content_com{
  .com_tit{
    width: auto;
    height: 40px;
    background-color: #f2f2f2;
    margin: 80px 0px 5px 0px;
  }
  .get_title{
    width: 593px;
    height: 63px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    left: 385px;
     >span{
      font: 700 16px Arial,"microsoft yahei";
      color: #666;
     }
     img{
      position: absolute;
      top: 52px;
      left: 651px;
     }
     >.title_price{
      position: absolute;
      top: 125px;
      left: 71px;
      width: 85px;
      height: 31px;
      background-color: #f3f3f3;
      color: #df3033;
       >span{
        font-size: 22px;
       }
     }
  }
  .com_produce{
    height: 576px;
    margin-bottom: 20px;
  }
  .com_goshop{
    width: 590px;
    height: 46px;
    margin: 10px 0px 20px 0px;
    padding: 10px 10px;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    transform: translateX(394px);
       >input:nth-child(1){
        display: block;
        width: 43px;
        height: 42px;
        line-height: 42px;
        border: 2px solid #eee;
        text-align: center; 
        outline: none;   
       }
      >input:nth-child(2){
        margin-right: 10px;
        // float: left;
        height: 46px;
        line-height: 46px;
        padding: 0 26px;
        font-size: 18px;
        font-weight: 700;
        font-family: "microsoft yahei";
        background-color: #df3033;
        color: #fff;
        border: none;
        cursor: pointer;
        transform: translate(55px,-45px);
      }
  }
  .com_tips{
  width: 590px;
  height: 18px;
  font-size: 12px;
  margin-top: 30px;
  transform: translateX(394px);
   >div:nth-child(1){
    float: left;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
   }
   >div:nth-child(2){
    float: left;
    margin-right: 15px;
    font-family: simsun;
    color: #999;
   }
  }
  .com_itments{
  width: 590px;
  height: 28px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  transform: translateX(394px);
   >div:nth-child(1){
    float: left;
    padding-left: 10px;
    font-family: simsun;
    color: #999;
   }
   >div:nth-child(2){
    padding-bottom: 7px;
    display: inline-block;
    font-family: simsun;
    color: #666;
   }
  }
  .com_Etab{
    >.com_tabna{
      background-color: #f7f7f7;
      border: 1px solid #eee;
      border-bottom: 1px solid #e4393c;
       >ul{
        list-style: none;
         >.current{
          background-color: #e4393c;
          color: #fff;
          cursor: default;
         }
         >li{
          color: #999;
          font-family: "microsoft yahei";
          cursor: pointer;
          padding: 10px 25px;
          font-size: 14px;
          position: relative;
          display: inline-block;
         }
         >li:hover:not(.current){
          color: #df3033;
         }
       }
       >div{
        float: right;
        margin-right: 10px;
        padding-top: 8px;
        transform: translateY(-40px);
         >a{
          display: inline-block;
          height: 28px;
          line-height: 28px;
          padding: 0 16px;
          background-color: #df3033;
          color: #fff;
          font-size: 12px;
          text-decoration: none;
         }
       }
    }
    >.com_iamge{
      text-align: center;
    }
  }
  .com_repu{
    margin-bottom: 15px;
     >.com_mt{
      height: 19px;
      padding: 10px;
      background-color: #f7f7f7;
      border: 1px solid #eee;
      margin-bottom: 20px;
        >h3{
          font: 700 14px "microsoft yahei";
          color: #666;
       }
     }
     >.com_mc{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
       >div{
        margin: 0px 20px 10px 0px;
        width: 220px;
        height: 325px;
        box-sizing: border-box;
        cursor: pointer;
       }
       >div:hover{
        box-shadow: 3px 4px 5px #ccc;
       }
     }
  }
}
